.parent-of-modal {

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  background-color: var(--bg-card);
  width: 25rem;
  min-height: 20.813rem;
  border-radius: 12px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  animation: modalMove 0.8s;  
}

.close-modal .fa-xmark {
  font-size: 1.813rem;
  color: var(--c-text-2);
  position: absolute;
  top: 17px;
  right: 22px;
}

.close-modal .fa-xmark:hover {
  color: var(--c-text-3);
}


@keyframes modalMove {
  0% { scale: 0;}
  100% { scale: 1}
}


.add-task div {
  display: flex;
  align-items: self-start;
  gap: 10px;
}
.add-task ul {
  margin-bottom: 10px;
  max-height: 7.5rem;
  width: 19.375rem;
  overflow: auto;
}
.add-task ul li {
  list-style-position: inside;
  list-style-type: circle;
  padding: 0 1px;
  text-align: start;
}