.entry-container {
  width: 21.875rem;
  position: relative;
  
}

.entry-container form h3 {
  margin-bottom: 20px;
}

.entry {
  background-color: var(--bg-card);
  padding: 2rem 1.5rem 1rem;
  width: inherit;
  border-radius: 10px;
}

.entry a {
  color: var(--c-text-2);
}

.entry-info {
  margin-top: 15px;
}

.entry a:hover {
  color: var(--c-text-1);
}

.error-msg {
  position: absolute;
  top: -90px;
  text-align: center;
  width: inherit;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: rgb(237, 150, 150);
  color: brown;
}


/* forget password */

.forget-password {
  /* transform: scale(1); */
  background-color: var(--bg-card);
  width: inherit;
  border-radius: 12px;
  padding: 2.5rem 2.5rem;
  position: fixed;
  z-index: 12;

  transform: translateY(-100vh);
  transition: 0.7s;
  
}

.dark-screen {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 115vh;
  background-color: rgba(0, 0, 0, 0.437);
  z-index: 10;
  transform: translateY(-100vh);
}

.show-forget-password {
  transform: translateY(0);
}
.show-forget-password:nth-last-child(2) {
  transform: translateY(-15vh);
}
.hide-forget-password {
  transform: translateY(-120vh);
  transition: 1s;
}

.forget-password h4 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.25rem;
}

.close {
  font-size: 1.813rem;
  color: var(--c-text-1);
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close .fa-xmark:hover {
  color: var(--c-text-2);
  transform: rotate(180deg);
  transition: 0.3s;
}
.close .fa-xmark:not(:hover) {
  transition: 0.3s;
}

.close:active {
  transform: scale(0.9);
}

